body{
    font-family: Avenir;
    margin: 0;
    background-image: url("../images/glitch_background.jpg");

    background-image: linear-gradient(-90deg, black, darkred);

}

h1{
    text-align: center;
    color:white;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

header{
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: right;
}

main{
    border: 0px solid red;
}

.wrapper{
    border: 0px black solid;
    margin: 0 auto;
    max-width: 40rem;
}


article{
    background-color: white;
    border: 2px solid black;
    padding: 1.3rem;
    margin: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 0.8rem;
    filter: drop-shadow(1rem 1rem 1rem #970000)
}

footer{
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
}

a:link{
    color:red;
}

a:visited{
    color: darkred;
}

a:hover{
    color: salmon;
}

a:active{
    color:black;

}

header a:link{
    color:white;
    text-decoration:none;
}

header a:visited{
    color:grey;
    text-decoration: none;
}

header a:hover{
    color:salmon;
    text-decoration: underline;
}

header a:active{
    color:red;
}

footer a:link{
    color:white;
    text-decoration:none;
}

footer a:visited{
    color:grey;
    text-decoration: none;
}

footer a:hover{
    color:salmon;
    text-decoration: underline;
}

footer a:active{
    color:red;
}

h2.logo{
    background-color: rgb(26, 28, 28);
    text-align: center;
    width: 6rem;
    height: 6rem;
    display: grid;
    align-items:center;
    border-radius: 50%;
}
