h1 {
    font-family: Avenir;
    font-size: 50px;
    color: #FFFFFF;
    background-color: #800000;
    padding: 1.5rem;

}

h2 {
    font-family: Avenir;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #800000;
    padding: .2rem;


}

body {
    font-family: Avenir;
    color: #E0E0E1;
    background-color: #282829;
}

p {
    margin: 1.5rem;
}

img {
    float: right;
    border: 2px #FFFFFF solid;
    margin: 0.65rem;
    max-width: 100%;
}

hr {
    border: 3px dashed #FFFFFF;
    border-radius: 2px solid #800000;
}


@media only screen and (orientation = portrait){
    li{
        border:hotpink;
    }   
}

@media only screen and (orientation = landscape){
    li{
        border:greenyellow;
    } 
}
