p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:crimson;
}

p#intro {
    font-family: "Comic Sans MS", "Comic Sans", cursive; /* Pulled from google on how to refer to Comic Sans*/
}
