.kode-mono-cool {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}  

.hometop{ /* Top part of the page */
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr 1fr;

    background-color: #ffffff;
}

.hometop header{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: gray;
    padding-left: 1rem;
}

.headimg{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}

.hometop ul{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;

    background-color: black;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 1rem;
}

.hometop li{
    padding: 1rem;
}

.homebottom{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

p{
    padding-left: 1rem;
}

nav{
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    font-size: 50px;
}

nav li{
    list-style-type:none;
    background-color: #000000;
    padding: 1rem;
}

nav a{
    text-decoration: none;
    color: #c7c7c7;
    padding:1.5rem;
}

nav a:hover{
    color:white;
    background-color: darkblue;
}

nav ul{
    background-color: black;
    padding: 25px;
    margin: 0;
}

ul li ul.dropdown{ /* Dropdown of nav bar*/
    width: 100%;
    background-color: #000000;
    position:absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display:flex;
}