h1 {
    font-family: "Syncopate", serif;
    font-size: 40px;
    font-weight: 700;
    color: #FF4654;
    padding: 1.5rem;
    text-transform: uppercase;
}

.syncopate-regular {
    font-family: "Syncopate", serif;
    font-weight: 400;
    font-style: normal;
}

.syncopate-bold {
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;
}

.rationale-regular {
    font-family: "Rationale", serif;
    font-weight: 400;
    font-style: normal;
}  

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: 'Syncopate', serif;
    font-weight:600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0.7rem;

}

h3 {
    font-family: Avenir, serif;
    font-weight:700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 0.7rem;

}

body{
    font-family: Avenir, serif;
    color:#FFFFFF;
    background-color: #121E2A;
}

p{
    margin-left: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

img{
    border: 6px #FF4654 solid;
    margin: 1rem;
    max-width: 100%;
}

figcaption{
    margin: 1rem;
}

a:link{
    color: #FF4654;
    text-decoration: none;

}

a:visited{
    color: #ff0000;

}

a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

a:active{
    color:white;
}

.folly {
    color: #FF4654;
}

.fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #000000;
}

hr{
    border: 20px solid #000000;
}