h1 {
    font-family: "Syncopate", serif;
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 1.5rem;
    text-transform: uppercase;
}

.syncopate-regular {
    font-family: "Syncopate", serif;
    font-weight: 400;
    font-style: normal;
}

.syncopate-bold {
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;
}

.rationale-regular {
    font-family: "Rationale", serif;
    font-weight: 400;
    font-style: normal;
}  

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: 'Syncopate', serif;
    font-weight:400;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #00000076;
    padding: .2rem;
    text-transform:lowercase;

}

body{
    font-family: Avenir;
    color:#FFFFFF;
    background-color: #290000;
}

p{
    margin-left: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

img{
    float: right;
    border: 3px #FFFFFF solid;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
    max-width: 100%;
}

a:link{
    color: #ff6161;
    text-decoration: none;

}

a:visited{
    color: #ff0000;

}

a:hover{
    color: #ff0000;
    text-decoration: underline;
}

a:active{
    color:white;
}