body {
    margin: 0;
    padding: 0;
}  

.wrapper{
    display: grid;
    min-height: calc(100vh - 150px);
}

h1{
    padding-left:1rem;

    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#0032a6;
    font-size:larger;
}

h2{
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}

p{
    padding-left: 1rem;
}

nav li{
    list-style-type: none;
    background-color: #000000;
    padding: 1rem;
}

nav a{
    text-decoration: none;
    color: #c7c7c7;
    padding:1.5rem;
}

nav a:hover{
    color:white;
    background-color: darkblue;
}

nav ul{
    background-color: black;
    padding: 25px;
    margin: 0;
    

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    background-color: #000000;
    color: white;

    display: flex;
    justify-content: center;
    padding: 1rem;
}
